<template>
  <h1 class="text-xl">Desarrollado por:</h1>
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body items-center">
      <div class="avatar placeholder">
        <div class="bg-neutral text-neutral-content rounded-full w-24">
          <span class="text-3xl">A</span>
        </div>
      </div>
      <h2 class="card-title">Angel Gabriel Marfil Velazquez</h2>
      <p>IDYGS82</p>
    </div>
  </div>
</template>
