<script setup lang="ts">
import { useStudentStore } from '@/stores/student'
import AddStudent from '@/components/AddStudent.vue'
import { onMounted } from 'vue'
const store = useStudentStore()

onMounted(async () => {
  await store.getStudents()
})
</script>
<template>
  <AddStudent />

  <div class="stats shadow mb-4">
    <div class="stat flex flex-col items-center">
      <div class="stat-title font-bold">Total de Estudiantes</div>
      <div class="stat-value text-primary">{{ store.totalStudents }}</div>
    </div>
  </div>

  <div class="stats shadow">
    <div class="stat place-items-center">
      <div class="stat-title font-bold">IDYGS81</div>
      <div class="stat-value">{{ store.IDYGS81 }}</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title font-bold">IDYGS82</div>
      <div class="stat-value text-secondary">{{ store.IDYGS82 }}</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title font-bold">IDYGS83</div>
      <div class="stat-value">{{ store.IDYGS83 }}</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title font-bold">Otros</div>
      <div class="stat-value">{{ store.others }}</div>
    </div>
  </div>
</template>
<style scoped></style>
