<script setup lang="ts">
import { useStudentStore } from '@/stores/student'
import { storeToRefs } from 'pinia'
import { onMounted } from 'vue'
import { useRoute } from 'vue-router'
const route = useRoute()
const store = useStudentStore()

onMounted(async () => {
  const param: string = route.params.id?.toString()
  await store.getStudent(param)
})

const { student } = storeToRefs(store)
</script>
<template>
  <h1 class="text-xl">Usuario #{{ student.id }}</h1>
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body items-center">
      <div class="avatar placeholder">
        <div class="bg-neutral text-neutral-content rounded-full w-24">
          <span class="text-3xl">{{ student.name.substring(0, 1) }}</span>
        </div>
      </div>
      <h2 class="card-title">{{ student.name }}</h2>
      <p>{{ student.group }}</p>
      <p class="text-gray-500">{{ student.email }}</p>
    </div>
  </div>
</template>
