<script setup lang="ts">
import { computed, ref, type Ref } from 'vue'
import { useStudentStore } from '@/stores/student'
import router from '@/router'

const store = useStudentStore()

const addStudent: Ref<any> = ref({
  id: 0,
  name: '',
  email: '',
  group: ''
})

const nameValidation = computed(() => {
  const nameLength = addStudent.value.name.length

  if ((nameLength > 0 && nameLength < 4) || nameLength > 60) {
    return 'Error de longitud en el nombre (mínimo 4, máximo 60 caracteres).'
  }

  return ''
})

const emailValidation = computed(() => {
  const email = addStudent.value.email
  const emailRegex = new RegExp(/\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/)

  if (email.length > 0 && !emailRegex.test(email)) {
    return 'El valor debe ser un email.'
  }

  return ''
})

const isFormValid = computed(() => {
  return nameValidation.value.length > 0 || emailValidation.value.length > 0
})

const submitStudent = async () => {
  store.createStudent(addStudent.value)
  store.alert.text = 'Estudiante agregado correctamente!'
  store.alert.type = 'alert-success'
  addModal.close()
  router.push({ name: 'students' })
}
</script>

<template>
  <button class="btn btn-primary mb-10" onclick="addModal.showModal()">Agregar Estudiante</button>
  <dialog id="addModal" class="modal backdrop-blur">
    <div class="modal-box">
      <form
        @submit.prevent="submitStudent"
        class="m-4 flex flex-col justify-evenly gap-y-4 min-h-80"
      >
        <h3 class="font-bold text-lg text-center">Agregar Nuevo Estudiante</h3>
        <label class="input input-bordered flex items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="w-4 h-4 opacity-70"
          >
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"
            />
          </svg>
          <input
            type="text"
            class="grow"
            placeholder="Nombre"
            v-model.trim="addStudent.name"
            required
          />
        </label>
        <span class="text-error text-sm text-center">{{ nameValidation }}</span>
        <label class="input input-bordered flex items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="w-4 h-4 opacity-70"
          >
            <path
              d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z"
            />
            <path
              d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z"
            />
          </svg>
          <input
            type="text"
            class="grow"
            placeholder="Email"
            v-model.trim="addStudent.email"
            required
          />
        </label>
        <span class="text-error text-sm text-center">{{ emailValidation }}</span>
        <select class="select select-bordered w-full" v-model.trim="addStudent.group" required>
          <option disabled selected>Grupo</option>
          <option>IDYGS81</option>
          <option>IDYGS82</option>
          <option>IDYGS83</option>
        </select>

        <input type="submit" value="Guardar" class="btn btn-primary" :disabled="isFormValid" />
      </form>

      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
    </div>
  </dialog>
</template>
<style scoped></style>
