<script setup lang="ts">
import type { IAlert } from '@/interfaces/IAlert'
import { onMounted } from 'vue'
import { useStudentStore } from '@/stores/student'

const store = useStudentStore()
const props = defineProps<IAlert>()

onMounted(() => {
  setTimeout(() => {
    store.alert.text = ''
    store.alert.type = ''
  }, 5000)
})
</script>
<template>
  <div role="alert" :class="`alert ${props.type} w-[350px] text-white fixed top-10`">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="stroke-current shrink-0 h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <span>{{ props.text }}</span>
  </div>
</template>
<style scoped></style>
