<script setup lang="ts">
import { RouterView } from 'vue-router'
import HeaderComponent from '@/components/HeaderComponent.vue'
</script>

<template>
  <HeaderComponent />

  <main class="w-full flex flex-col items-center mt-10 mb-10">
    <RouterView />
  </main>
</template>
